.button {
	padding: 13px 20px; 
	display: inline-block;
	color: #FFF;
	border-radius: 3px; 
	transition: all 200ms;
  	box-shadow: 1px 1.732px 2.97px 0.03px rgba(0, 0, 0, 0.4);
	
	&:hover, &:visited, &:active {
		color: #fff; 
		text-decoration: none;
	}

	&--primary {
		background-color: $colour-main--first; 
		
		&:hover {
			background-color: darken($colour-main--first, 10%); 
		}
	}

	&--secondary {
		background-color: $colour-accent--first; 
		
		&:hover {
			background-color: darken($colour-accent--first, 10%); 
		}
	}

	&--tertiary {
		background-color: $colour-extra--second; 
		
		&:hover {
			background-color: darken($colour-extra--second, 10%); 
		}
	}

	&--small {
		padding: 4px 14px; 
		font-size: 14px; 
	}
}