.button {
	padding: 12px 18px; 
	color: #FFF;
	border-radius: 3px; 
	background-color: $colour-main--first; 
	transition: all 200ms;
	
	&:hover {
		color: #fff; 
		text-decoration: none;
		background-color: $colour-secondary--first; 
	}
}