ul.navigation {
	list-style: none;
	padding: 0;
	margin: 0;  
	
	li {
		display: inline-block;
	}
}

.main-nav .navigation.navigation--main {
	padding-left: 10px;
 	margin-right: auto;

	.header__inner & {
		display: none;
		
		@include media-breakpoint-up(lg) {
			display: block;
		}
	}

	li {
		margin-right: 28px;
		font-size: 16px; 
		
		&:last-child {
			margin-right: 0px; 
		} 

		@include media-breakpoint-down(lg) {
			margin-right: 16px;
			font-size: 16px;
		}

		@include media-breakpoint-down(lg) {
			margin-right: 14px;
			font-size: 14px;
		}

		a:hover, a:active {
			text-decoration: none;
			border-bottom: 1px solid #6d6e70;
		}

		&.current-menu-item {
			a {
				border-bottom: 1px solid #6d6e70;
				
				&:hover {
					text-decoration: none;
				}
			}
		}

		.themed-header & {
			a:hover, a:active {
				border-bottom: 1px solid #fff;
			}

			&.current-menu-item {
				a {
					border-bottom: 1px solid #fff;
				}
			}
		}
	}

	@include media-breakpoint-up(lg) {
		padding-left: 42px;
	}

	@include media-breakpoint-up(lg) {
		padding-left: 100px;
	}

}

.support-wrapper {
	margin: 0;  
	background-color: #1E1E1E;
	height: 0;
	padding: 0;  
	overflow: hidden;
	
	.support-nav--open & {
		padding: 18px 0; 
		height: 64px; 

		i {
			transform: rotate(180deg) translateY(2px);
			transform: translateZ(0);
			perspective: 1000;
			backface-visibility: hidden;
		}
	}

	.navigation--support {
		float: right;
		
		li {
			margin-right: 38px;
			font-size: 16px; 
			
			&:last-child {
		 		margin-right: 0!important; 
			} 

			a {
				color: #fff; 
			}

			&.lock {
				margin-right: 20px;
				 
				&:after {
					@extend .icon;
					@extend .icon_lock:before;
					color: #f68f1e;
					font-size: 12px;
					margin-left: 8px; 
				}
			}

			a:hover {
				text-decoration: none;
				border-bottom: 1px solid #fff;
			}

			&.current-menu-item {
				a {
					border-bottom: 1px solid #fff;
					
					&:hover {
						text-decoration: none;
					}
				}
			}
	
			@include media-breakpoint-down(sm) {
				margin-right: 8px;
				font-size: 12px;
				
				&.lock {
					margin-right: 8px;
				}
					  
			}

			@include media-breakpoint-down(lg) {
				margin-right: 10px;
				font-size: 14px;
				
				&.lock {
					margin-right: 10px;
				}
					  
			}
		}
	}

}

.support-toggle {
	background-color: #F28C00;
	position: absolute;
	right: 0;
	top: 0;  
	border-bottom-right-radius: 3px;
	border-bottom-left-radius: 3px;
	color: #fff; 
	padding: 2px 12px;
	cursor: pointer;
	
	p {
		margin: 0;
		font-size: 14px; 
		
		i {
			margin-left: 10px; 
		}
	}
	

	.support-nav--open & {
		background-color: #1E1E1E;
		
		i {
			transform: rotate(180deg);
		}
	}
}

.navigation--legal {
	li {
		margin-right: 24px;
	}
	
	&:last-child {
		margin-right: 0; 
	} 
}