.cta {
	padding: $spacer--lg 0;
	background-color: #FFF;
	
	@include media-breakpoint-down(md) {
		padding: $spacer--md 0;
	}

	@include media-breakpoint-down(sm) {
		padding: $spacer--sm 0;
	}
	
	&__inner {
		display: block;
	}

	p {
		@extend .h4;
		margin: 60px 0; 
		color: #040507; 
	}
}