.header {
	background-color: #FFF; 
	z-index: 10;
	
	* {
		transition: all 500ms;
	}	
	
	&__inner {
		width: 100%; 
		height: 150px; 
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.shrink & {
			height: 73px; 
		}
	}

	&.shrink {
		background-color: #4b4b4b;
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		
		li {
			color: #fff;
			
			a {
				color: #fff;
			} 
		}
	}	
}

.logo {
	&__large {
		display: block;
		width: 225px;
				
		@include media-breakpoint-down(md) {
			width: 180px;
		}
	}

	&__small {
		display: none;
		width: 130px;
	}

	&--white {
		display: none;
	}
}

.themed-header {
	.logo {
		&__large {
			display: none;
		}

		&__small {
			display: none;
			.shrink & {
				display: block;
			}
		}

		&--white {
			display: block;
		}
	}	
}

.shrink {
	.logo {
		&__large {
			display: none;
		}

		&__small {
			display: block;
		}

		&--white {
			display: none;
		}
	}
}

body {
	.header {
		background-color: #FFF; 
	}
}

body.themed-header {
	.header {
		background-color: transparent; 
		position: fixed;
		left: 0;
		right: 0;
		
		&.shrink {
			background-color: #4b4b4b;
		}
			
		li a {
			color: #fff; 
		}
	}
}
