.header {
	background-color: #FFF;
	z-index: 1;
	
	* {
		transition: all 500ms;
	}	
	
	&__inner {
		width: 100%; 
		height: 150px; 
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		
		.shrink & {
			height: 73px; 
		}
	}

	&.shrink {
		background-color: #4b4b4b; 
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		
		li {
			color: #fff;
			
			a {
				color: #fff;
			} 
		}
	}	
}

.logo {
	&__large {
		display: block;

		.shrink & {
			display: none;
		}
	}

	&__small {
		display: none;
		
		.shrink & {
			display: block;
		}
	}
}
