.hero {
	position: relative;
	padding: $spacer--xl 0; 
	
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: 0;
		display: block;
		opacity: 0.9;
		 
	}

	@include media-breakpoint-down(sm) {
		padding: $spacer--ml 0; 
	}

	.container {
		padding-top: 150px;
		
		@include media-breakpoint-down(sm) {
			padding-top: 70px;
		}
	}
}

.hero--home {
	text-align: center;
	background: #14415d; /* Old browsers */
	background: -moz-linear-gradient(top, #14415d 0%, #0f3146 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #14415d 0%,#0f3146 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #14415d 0%,#0f3146 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#14415d', endColorstr='#0f3146',GradientType=0 ); /* IE6-9 */
	
	h1, p, a, .button {
		z-index: 2; 
		position: relative;
	}

	h1 {
		padding: 0 0 50px 0; 
		margin: 0; 
		color: #FFF;
	}

	p {
		@extend .h4;
		padding-bottom: 50px;
		margin: 0;
		color: #c2c2c2; 
		
		@include media-breakpoint-up(md) {
			padding-bottom: 120px; 
		}
	}

	.canvas-wrapper {
	    position: absolute;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    z-index: 0;
	    height: 650px;
	    
		@include media-breakpoint-up(md) {
	    	height: 750px;
		}		

		canvas {
		    position: absolute;
		    bottom: 0;
		    top: 0;
		    left: 0;
		    right: 0;
		}
	}
}

.hero--what-we-do {
	background-color: #f28c00;
}