.project--list-item {
	background-color: #451862; 

	h2 {
		font-size: 48px;
		line-height: 56px;  
		color: #FFF;
		margin-top: 0;
	}

	p {
		color: #FFF;
		@extend .h4;
	}

	button {
		margin-top: 12px; 
	}
}

.hero--project {
	background-repeat: no-repeat;
	background-size: cover;

	&:before {
		background-color: #2f409f;
	}

	h1 {
		color: #FFF;
		margin-top: 0;
		margin-bottom: 32px;
		font-size: 48px;
		line-height: 54px; 		
		
		@include media-breakpoint-down(md) {
			font-size: 30px;
			line-height: 40px;
		}
	}

	p {
		color: #FFF;
		@extend .h4;
		margin: 26px 0;
	}
}

.projects-list .hero .container {
	padding-top: 0;
}

.project-id {
	background-color: #fff;
	padding: 28px; 
	margin-top: 30px;
	box-shadow: 2.5px 4.33px 5.94px 0.06px rgba(0, 0, 0, 0.4);
	float: left;

	@include media-breakpoint-up(lg) {
		margin-top: 12px;
	}

	h5, p {
		font-size: 18px;
		font-weight: 400;  
		margin-top: 26px; 
		margin-bottom: 0; 
		line-height: 18px; 
	}

	p {
		margin-top: 0;
		margin-bottom: 0;
		color: #757575;  
		line-height: 22px; 
	}
}