.quote {
	position: relative;
	 
	&:before {
		content: "";
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		z-index: -1;
		display: block;
		background-size: cover;
		filter: brightness(40%);
		background-position: center;
	}

	&__inner {
		padding-left: 50px;
		border-left: 2px solid #fff;
		
		@include media-breakpoint-down(sm) {
			padding-left: 20px;
			border-left: 2px solid #fff;
		}
	}
	
	h2 {
		margin: 0;
		color: #FFF;
		margin-bottom: 52px; 
		font-style: italic; 
		
		@include media-breakpoint-down(sm) {
			font-size: 22px;
		    line-height: 26px;
		}
	}

	h4 {
		margin: 0; 
		color: #C0C0C0;
		font-weight: 400; 
	}
}