// Link resets
a {
	&.no-ls {
		color: inherit; 
		
		&:hover {
			color: inherit;
		}
		&:active {
			color: inherit;
		}
		&:visited {
			color: inherit;
		}
	}

	&.no-ul {
		&:hover {
			text-decoration: none;
		}
	}
}

// Clearfix
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

// Margin remover
.no-margin {
	margin: 0!important;
	&--top {
		margin-top: 0!important; 
	}
	&--bottom {
		margin-bottom: 0!important; 
	}
}

// Vertical padding
.vp {
	&--sm {
		padding-top: $spacer--sm;
		padding-bottom: $spacer--sm;
	}

	&--md {
		padding-top: $spacer--md;
		padding-bottom: $spacer--md;
	}

	&--lg {
		padding-top: $spacer--lg;
		padding-bottom: $spacer--lg;
	}

	&--xl {
		padding-top: $spacer--xl;
		padding-bottom: $spacer--xl;
	}
}

// Extend bootstrap grid
.justify-content-center {
    -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
    -ms-flex-pack: center!important;
    justify-content: center!important;
}
.justify-content-start {
    -webkit-box-pack: start!important;
    -webkit-justify-content: flex-start!important;
    -ms-flex-pack: start!important;
    justify-content: flex-start!important;
}
.justify-content-end {
    -webkit-box-pack: end!important;
    -webkit-justify-content: flex-end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
.justify-content-around {
    -webkit-justify-content: space-around!important;
    -ms-flex-pack: distribute!important;
    justify-content: space-around!important;
}
.justify-content-between {
    -webkit-box-pack: justify!important;
    -webkit-justify-content: space-between!important;
    -ms-flex-pack: justify!important;
    justify-content: space-between!important;
}

// Type
.ta-center {
	text-align: center;
}