// Colours
$colour-main--first: #f68f1e;
$colour-main--second: #18769a;
$colour-secondary--first: #c2661f;
$colour-secondary--second: #14415d;
$colour-accent--first: #f6441e;
$colour-accent--second: #f6441e;
$colour-extra--first: #bd3518;
$colour-extra--second: #0c9dd5;

$colors: (
	c-main--first: $colour-main--first,
	c-main--second: $colour-main--second,
	c-secondary--first: $colour-secondary--first,
	c-secondary--second: $colour-secondary--second,
	c-accent--first: $colour-accent--first,
	c-accent--second: $colour-accent--second,
);

// Type
$link-colour: #6d6e70;
$link-colour--active: #6d6e70;
$link-colour--visited: #6d6e70;
$link-colour--hover: #6d6e70;

// Font Variables
$bodyFont: 'Roboto', sans-serif;
$headingFont: 'Roboto', sans-serif;

// Spacing
$spacer--xl: 92px;
$spacer--lg: 76px;
$spacer--ml: 48px;
$spacer--md: 42px;
$spacer--sm: 28px;