body {
	min-width: 320px; 
	
	&.mobile-nav-open {
		overflow: hidden;
		height: 100%; 
	}

	&.shrink {
		.page-title, .what-we-do-intro, .single {
			padding-top: 95px; 
		}
	}
}

.page-title {
	text-align: center;
	padding: $spacer--md 0 $spacer--lg 0;
	
	@include media-breakpoint-down(md) {
		padding: $spacer--md 0;
	}

	@include media-breakpoint-down(sm) {
		padding: $spacer--sm 0;
	}
	
	h1 {
		margin: 0;
	}

	.page-template-template-index-articles & {
		h1 {
			color: #FFF;
		}
	}
}

.wp-caption {
	border: none;
	padding: 0;
	text-align: left;
	background-color: transparent; 
	max-width: 100%; 
	
	img {
		max-width: 100%;
	}
	
	&-text {
		padding: 12px 18px;
		@extend .h6;
		font-weight: 400; 
		margin: 0;
		background-color: #fff; 
	}  
}