html { font-size: 1em; }

body {
  color: #6d6e70;
  font-family: $bodyFont;
  font-style: normal;
  font-weight: 400; 
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

p, .p {
  margin: 26px 0; 
  font-size: 16px;
  line-height: 23px;
  font-weight: 400; 
  
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 28px;
    margin: 36px 0;
  }
}

li {
  font-size: 16px;
  line-height: 23px;
  
  @include media-breakpoint-up(md) {
    font-size: 18px;
    line-height: 28px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500; 
  font-family: $headingFont;
  color: #000; 
}

strong, em {
  font-weight: 500; 
}

h1, .h1 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 30px;
  line-height: 38px; 
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--ml 0; 
    font-size: 60px;
    line-height: 72px; 
  }
}

h2, .h2 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 24px;
  line-height: 30px; 
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--md 0; 
    font-size: 36px;
    line-height: 46px 
  }
}

h3, .h3 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 20px;
  line-height: 28px; 
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--sm 0;
    font-size: 30px;
    line-height: 40px; 
  }
}

h4, .h4 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 18px;
  line-height: 26px; 
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--sm 0; 
    font-size: 24px;
    line-height: 36px; 
  }
}

h5, .h5 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 16px;
  line-height: 23px; 
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--sm 0; 
    font-size: 18px;
    line-height: 28px; 
  }
}

h6, .h6 {
  margin: $spacer--md 0 $spacer--sm 0; 
  font-size: 14px;  
  font-weight: 600;  
  
  @include media-breakpoint-up(md) {
    margin: $spacer--lg 0 $spacer--sm 0; 
    font-size: 16px;
  }
}

a {
  color: $link-colour;
  text-decoration: none;
  &:active {
    color: $link-colour--active;
    text-decoration: underline;
  }
  &:visited {
    color: $link-colour--visited;
  }
  &:hover {
    color: $link-colour--hover;
    text-decoration: underline;
  }
}